<h1>New profesor</h1>

<% form_for(@profesor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
  <%  f.submit "Guardar", :class => "button", :onclick => "alert('YES =)!')"  %>
  </p>
<% end %>

<%= link_to 'Back', profesors_path %>